{{ define "title" }}
  On Nix: Everything you need to build reliable systems!
{{ end }}

{{ define "nav-title" }}
  On Nix
{{ end }}

{{ define "nav-subtitle"}}
  Everything you need to build reliable systems!
{{ end }}

{{ define "main" }}
  <div class="ph4">
    <br/>
    <blockquote
      cite="https://discourse.nixos.org/t/to-flake-or-not-to-flake"
      class="bb bt ma0 pa2"
    >
      Doing anything in
      <a class="blue" href="https://nixos.org">
        Nix
      </a>
      causes me untold pain and suffering,
      and wastes absurd amounts of my time...
      Unless it follows a path already well-trodden by me personally.
      I put myself through this because I know that,
      after all the pain,
      suffering and wasted time,
      if eventually I reach my destination,
      I will have a robust, reliable,
      reusable solution which will save me even more pain,
      suffering and time in the long run.
      <br/>
      <br/>

      -
      <a class="blue" href="https://github.com/jacg">
        Jacek Generowicz
      </a>
    </blockquote>
    <br/>
    <a class="blue" href="https://github.com/on-nix">
      On Nix
    </a> is a collection of projects which will help
    you modernize your development and production systems with
    <a class="blue" href="https://nixos.org">
      Nix
    </a>.
    <br/>
    <br/>
    We achieve this
    by simplifying
    as much as possible
    the Nix ecosystem,
    and by making sure
    that all of our projects
    are full of examples
    that you can just copy-paste and go.
    <br/>
    <br/>
    Our mission is to make you feel that getting things running
    on Nix is as easy as on any other technology,
    but at the same time with thousands of benefits
    that you won't find anywhere else.
    <br/>
    <br/>
    Everything here is 100%
    <a class="blue" href="https://en.wikipedia.org/wiki/FOSS">
      Free and Open Source Software
    </a>
    released into the
    <a class="blue" href="https://en.wikipedia.org/wiki/Public_domain">
      Public Domain
    </a>.
    You are encouraged to
    <a class="bule" href="https://en.wikipedia.org/wiki/Standing_on_the_shoulders_of_giants">
      stand on our shoulders
    </a>,
    use these projects everywhere,
    for any purpose,
    commercial or non-commercial,
    as an individual, at work, or in your organization.
    <br/>
    <br/>
    We hope this software is useful to you,
    as it is useful to us
    and many other developers around the globe! ❤️

    <ul>
      <li>
        <a class="blue" href="https://python.on-nix.com">
          Python on Nix
        </a>
      </li>
    </ul>
  </div>
{{ end }}
